name: deploy hosting

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "./*.json"
      - "public/**"

jobs:
  build_and_deploy:
    name: build&deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: "14"
      - name: Install packages
        run: npm install
      - name: Build
        run: npm run build
      - name: Deploy
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
